@import '~reset-css';
@import '~bootstrap';
@import './app-media.scss';

$dark: #242424;
$grey: #EEEEEE;

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost-400.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost-500.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Jost";
    src: url("../fonts/jost-600.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Jost";
    src: url("../fonts/jost-700.ttf");
    font-weight: 700;
}

a {
    text-decoration: none;
}
body {
    background-color: #F8F8FA;
    font-size: 16px;
    color: #242424;
    font-family: 'Jost';
}
* {
    font-family: 'Jost';
}
header {
    margin-top: 30px;
}
.logo {
    width: 140px;
    height: auto;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
        opacity: .8;
    }
}
.btn-border {
    box-shadow:inset 0px 0px 0px 2px $dark;
    font-size: 1em;
    font-weight: 600;
}
.btn-default {
    background-color: $dark;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}
.login-btn {
    height: 50px;
    width: 160px;
    text-transform: uppercase;
}
.register-btn {
    height: 50px;
    width: 200px;
    margin-left: 20px;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 15px;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .75);
    overflow-y: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-container {
    border-radius: 10px;
    z-index: 10;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, .15);
    align-items: center;
    padding: 30px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    overflow: hidden;
}
.home-form {
    width: 100%;
}
.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .alert {
        margin-top: 2px;
        color: #ff5b5b;
    }
    .v-select {
        background-color: #EBEBEB;
        border-radius: 10px;
    }
    .vs__dropdown-toggle {
        border: 0px;
        height: 55px;
    }
    .vs__actions {
        padding-right: 15px;
    }
    .vs__search, .vs__selected, .vs__search:focus {
        padding: 0px 15px;
        margin-left: 0px;
    }
    .vs__selected-options {
        padding: 0;
    }
    .vs__dropdown-menu {
        border-radius: 10px;
        background: #EBEBEB;
        border: none;
        color: #242424;
    }
    .vs__open-indicator {
        fill: #394066;
    }
}
.form-input {
    max-width: 100%;
    height: 55px;
    padding: 0 15px;
    outline: none;
    border: none;
    background-color: #EBEBEB;
    border-radius: 10px;
    font-size: 1em;
}
.btn-home {
    width: 100%;
    height: 55px;
}
.form-input.invalid {
    outline: 2px solid #ff5b5b;
}
.form-info {
    margin-top: 15px;
    display: block;
    font-size: .95em;
}
.underline {
    text-decoration: underline;
    font-weight: 500;
}
.link {
    cursor: pointer;
    transition: .3s;
    &:hover {
        opacity: .8;
    }
}
.container-1890 {
    max-width: 1890px;
    width: auto;
}
.menu-item {
    flex-direction: row;
    height: 50px;
    transition: .3s;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 10px;
    cursor: pointer;
    a {
        color: #242424;
        display: flex;
        align-items: center;
    }
    span {
        font-size: 1.2em;
    }
    i {
        font-size: 2em;
        color: #333;
        margin-right: 15px;
    }
    &:hover {
        background-color: $grey;
    }
}
.user-icon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .1);
    img {
        width: 70px;
        height: 70px;
    }
}
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.user__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-nick {
    font-weight: 500;
    font-size: 1.2em;
}
.user-id {
    font-size: .9rem;
    color: #555;
}
.user-name {
    font-size: .9em;
    color: #555;
}
.user-icon {
    margin-right: 20px;
}
.user-settings {
    font-size: 1.2em;
    cursor: pointer;
    a {
        color: #bbb;
        transition: .3s;
        &:hover {
            color: #555;
        }
    }
}
.sidebar {
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: calc(100% / 6 - var(--bs-gutter-x)) ;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    border-right: 1px solid #ccc;
}





.vld-container {
    z-index: 1000;
}
.jcc {
    display: flex;
    justify-content: center;
}
.jcfe {
    display: flex;
    justify-content: flex-end;
}
.aic {
    display: flex;
    align-items: center;
}
.mb15 {
    margin-bottom: 15px;
}
.notification {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 60px;
    right: 30px;
    background-color: #F8F8F8;
    padding: 15px;
    opacity: 0;
    animation: 5s ease-in both notify-fade;
    z-index: 100;
    font-size: 1em;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 500;
    color: #242424;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, .15);
}
.notification-progress {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #999;
    bottom: 0;
    left: 0;
    animation: 5s ease-in both notify-progress;
}
@keyframes notify-progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes notify-fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.notification-error {
    &:before {
        content: '';
        width: 5px;
        height: 100%;
        background-color: #ff5b5b;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.notification-primary {
    &:before {
        content: '';
        width: 5px;
        height: 100%;
        background-color: #5bff5e;
        position: absolute;
        top: 0;
        left: 0;
    }
}
body .vue3-progress-bar-container .vue3-progress-bar {
    background-color: #242424;
}
.loading-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, .5);
    z-index: 300;
}
