.form-control {
    display: flex;
    flex-direction: column;
}
.notification {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 60px;
    right: 30px;
    background-color: #a0aec080;
    padding: 15px;
    opacity: 0;
    animation: 5s ease-in both notify-fade;
}
.notification-progress {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: blue;
    bottom: 0;
    left: 0;
    animation: 5s ease-in both notify-progress;
}
@keyframes notify-progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes notify-fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.race-table {
    display: flex;
    flex-direction: column;
    width: fit-content;
    input {
        width: 50px;
        height: 20px;
    }
}
.race-table__header {
    border-top: 1px solid #ccc;
    .race-table__item {
        border-right: 1px solid #ccc;
    }
}
.race-table__item {
    height: 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.race-table__name {
    justify-content: flex-start;
    padding: 0px 5px;
    width: 175px;
    border-left: 1px solid #ccc;
}
.race-table__result {
    width: 85px;
}
.race-table__total {
    width: 50px;
}
.race-table__row {
    display: flex;
}
.race-table__body {
    display: flex;
}
.race-table__column {
    border-right: 1px solid #ccc;
}
.result-table {
    border-collapse: collapse;
    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
    }
}
