@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf");
    font-weight: 700;
}
body {
    font-family: 'Roboto';
    font-size: 16px;
    color: #242424;
}


.form-control {
    display: flex;
    flex-direction: column;
}
.notification {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 60px;
    right: 30px;
    background-color: #a0aec080;
    padding: 15px;
    opacity: 0;
    animation: 5s ease-in both notify-fade;
}
.notification-progress {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: blue;
    bottom: 0;
    left: 0;
    animation: 5s ease-in both notify-progress;
}
@keyframes notify-progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes notify-fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.race-table {
    display: flex;
    flex-direction: column;
    width: fit-content;
    input {
        width: 50px;
        height: 20px;
    }
}
.race-table__header {
    border-top: 1px solid #ccc;
    .race-table__item {
        border-right: 1px solid #ccc;
    }
}
.race-table__item {
    height: 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.race-table__name {
    justify-content: flex-start;
    padding: 0px 5px;
    width: 175px;
    border-left: 1px solid #ccc;
}
.race-table__result {
    width: 85px;
}
.race-table__total {
    width: 50px;
}
.race-table__row {
    display: flex;
}
.race-table__body {
    display: flex;
}
.race-table__column {
    border-right: 1px solid #ccc;
}
.result-table {
    border-collapse: collapse;
    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
    }
}
.search-container {
    width: 300px;
    max-height: 300px;
    box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.15);
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}
.search-candidate {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    transition: .3s;
    cursor: pointer;
    &:hover {
        background-color: #eaf1ff;
        box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.15);
    }

}
.search-candidate__nickname {
    font-weight: 500;
}
.search-candidate__id {
    font-size: .8em;
    color: #777;
}
.search-candidate__name {
    font-size: .9em;
    color: #555;
}
.user-item {
    display: flex;
    background-color: #eaf1ff;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow:hidden;
}
.user-item__content {
    padding: 15px;
}
.user-item__remove {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: #ffd5d5;
    }
}
.user-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    span {
        font-size: .8em;
        font-weight: 500;
        color: #fff;
        padding: 3px 10px;
        border-radius: 5px;
        transition: .3s;
        cursor: pointer;
    }
}
.user-item__cancel-btn {
    span {
        background-color: #f33c3c;
        &:hover {
            background-color: #fc6c6c;
        }
    }
}
.user-item__accept-btn {
    span {
        background-color: #36d567;
        &:hover {
            background-color: #2cb654;
        }
    }
}
.user-item__team {
    span {
        font-weight: 500;
    }
}
